    <div class="grid-x cell-clear cell-design">
        <div class="cell text-align cartHeader">
            <h1 class="float-left">YOUR CART</h1>
            <button class="button continue float-right" id="continueShopping">Continue Shopping</button>
        </div>
        <div class="cell text-align cartHeader">
            <h4 class="float-left">Your total: <span id="topTotalValueSpan">${{totalFinalValue}}</span></h4>
            <button class="button float-right" id="proceedCheckOut">Proceed to Checkout</button>
        </div>
        <div class="cell">
            <div class="checkout-summary cell-design">
                <div class="checkout-summary-title">
                    <h5>Your Order</h5>
                    {{!-- <h5 class="float-left">
                        Ship To: <br>
                        {{street1}} {{street2}} <br>
                        {{city}} {{state}} {{zip}}
                    </h5> --}}
                    <h5><span id="itemCount"></span> Item(s)</h5>
                </div>
                {{#each cart_products}}
                <div class="checkout-summary-item grid-x">
                    <div class="item-name cell small-7">
                        <img class="itemImg" src="{{this.image}}" class="itemImg" />
                        <h3 class="itemTitle">{{this.name}}</h3>
                        <p class="itemDescription">{{this.description}}</p>
                        <p class="itemPrice">${{this.price}}</p>
                        <p class="itemQty">Quantity: <input type="number" min="0" class="qtyInput"
                                value={{this.quantity}}>
                        </p>
                    </div>
                    <div class="item-price cell small-5">
                        <div class="flex-container align-right">
                            <p class="">Total Product Cost:
                                <span class="cartItemCost">${{multiply this.quantity this.price }}</span>
                            </p>
                        </div>
                        <div class="flex-container align-right">
                            <button class="itemRemove button ">Remove</button>
                        </div>

                    </div>
                </div>
                {{/each}}
                <div class="checkout-summary-details">
                    <div class="left">
                        <p><span class="subTotalLabel">Subtotal</span></p>
                        <p><span class="subTotalLabel">Shipping</span></p>
                        <p><span class="subTotalLabel">Tax</span></p>
                        <p><span class="subTotalLabel">Total</span></p>
                    </div>
                    <div class="right">
                        <p id="subtotal"><span id="subTotalValueSpan" class="subTotalValue">${{subTotalValue}}</span>
                        </p>
                        <p id="shipping"><span id="shippingValueSpan" class="subTotalValue">${{shippingValue}}</span>
                        </p>
                        <p id="tax"><span id="taxValueSpan" class="subTotalValue">${{taxValue}}</span></p>
                        <p id="total"><span id="totalFinalValueSpan" class="subTotalValue">${{totalFinalValue}}</span>
                        </p>
                        <button class="button float-right" id="proceedCheckOut">Proceed to Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

