<div class="grid-container cell-design cell-clear product-container">
    <div class="grid-x grid-margin-y">
        <div class="cell">{{{department_name}}} > {{{product_name}}}</div>
        <div class="cell small-6">
            <!-- <img id="large-product-image" data-id={{product_id}}  src={{product_image}} width="350px" height="auto" class="img-responsive"> -->
            <img id="large-product-image"
                src="{{product_image}}"
                max-width="350px" height="auto" class="img-responsive">
        </div>
        <div class="cell small-6">
            <h2>{{product_name}}</h2>
            <h4>{{product_description}}</h4>
            <h4>{{product_price}}</h4>

            <div class="grid-x">
                <div class="cell small-3">
                    <label>Quantity?
                        <input class="productQuantity" type="number" value="1">
                        <button type="submit" class="button addToCartBtn" id="add-to-cart">Add To Cart</button>
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>