<div class="grid-container cell-design cell-clear product-container">
    <div class="grid-x grid-margin-y">
        <div class="cell" id="product-path"></div>
        <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4">
            {{#if noResults}}
            <h1>No Results</h1>
            {{else}}
            {{#each products}}
            <div class="cell flex-container">
                <div class="card cell-design searchResult">
                    <div class="imageSection">
                        <img src="{{this.image}}" class="img-responsive float-center">
                    </div>
                    <div class="card-section cardContent">
                        <a class="productView" data-id={{this.id}} href="/product/{{this.id}}">
                            <h4>{{this.name}}</h4>
                        </a>
                        <p class="cardPrice">{{this.price}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>

<script src="js/allProducts.js"></script>
